.headerNav {
    height: var(--header-height);
    list-style-type: none;
    margin: 0;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    user-select: none;
}

.headerNav:hover {
    background-color: var(--backgorund-hover);
    cursor: pointer;
}
