.root {
    display: flex;
    height: 100%;
}

.root > .splitter {
    width: 1px;
    background-color: white;
}

.root>:nth-child(2) {
    margin-left: 20px;
}

.root > .content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 24px 48px;
}

.notifications  {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
}

.notifications > span {
    color: #FFFFFF;
    font-size: 4em;
}

.notification {
    cursor: pointer;
}

.notificationRead {
    color: gray;
}

