.headerPanel {
    background-color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.messageButton {
    position: relative;
}

.messageBudget {
    position: absolute;
    right: 0;
    bottom: 0;
}

.headerNav {
    height: var(--header-height);
    list-style-type: none;
    margin: 0;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    user-select: none;
}

.headerNav:hover {
    background-color: var(--backgorund-hover);
    cursor: pointer;
}
